body {
    background-image: url('../img/bg.png');
    background-repeat: repeat;
}

.centraliza {
    margin: 0 auto;
    float: none;
    display: block;
}

.box {
    background-color: white;
    padding: 2%;
    border-radius: 20px;
    float: none;
    display: block;
    margin: 5rem auto;
    width: 80%;
}